<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../style/adminLogin.css">
</head>
<body>
<form action="superAdPage.html" method="post">

<!-- 전체 영역 -->
<selction class="loginBox">

  <fieldset>
    <legend class="adminLabel"> A D M I N </legend>

	<div class="idBox">
		<input id="adminId" type="text" name="adminId" placeholder="id">
		<label for="userName"></label>
	</div>

	<div class="pwBox">
		<input id="adminPw" type="password" name="adminPw" placeholder="password">
		<label for="password"></label>
	</div>

		<input id="loginBt" type="submit" name="adminBt" value="Login">
  </fieldset>

 </section>

</form>
</body>
</html>