<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pudding Page</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/dramaPageStyle.css">
	


</head>
<body id="wrap">



	<section id="pm_section">

		<!-- 모바일용 이미지 -->
		<div class="pm_m_wrap">
			<div>
				  <a href=""> 
				  	<img class= "pm_img1" src="../source/mainImage/big2.png">
				  </a>
			</div>
			<div>
				  <a href="">
				  	<img class= "pm_img2" src="../source/mainImage/big2.png">
				  </a>
			</div>
			<div>
				  <a href="">
				  	<img class= "pm_img3" src="../source/mainImage/big2.png">
				  </a>
			</div>
		</div>


		<!-- PC용 이미지 -->
		<div class="pm_p_imgs">
			<div><img class= "pm_img1" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img2" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img3" src="../source/mainImage/snoopy.png"></div>
		</div>


		<div class="pm_btn">		
			 <a href=""><div><span id="prev_btn"><img src="" alt=""><</span></div></a> 
			 <a href=""><div><span id="next_btn"><img src="" alt="">></span></div> </a>
		</div>

		<div class="radio">
			<input type="radio" name="slide" class="slide01" checked>
			<input type="radio" name="slide" class="slide02">
			<input type="radio" name="slide" class="slide03">
		</div>

	</section>

	<section id="submenu">
		<div id="box">
			<ul class="ul_sub">
				<!-- <li class="li_sub"><a href="">요일전체</a></li> -->
				<li class="li_sub"><a href="">액션</a></li>
				<li class="li_sub"><a href="">드라마</a></li>
				<li class="li_sub"><a href="">로맨스</a></li>
			</ul>
		<div>
	
	</section>

	<section id="dr_section">
		<div class="dr_List">
			<ul class="dr_u">
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						
						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사</span>
						</li>
						<li>
							<div>줄거리</div>
							<div class="description"> 나보기가 역겨워 가실 때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경훈 </div>
						</li>

					</ul>
				</li>	
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						
						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사 법사 1 법사 2 법사 3 법사 4 법사 5 법사 6 법사 7</span>
						</li>
						<li>
							<div>줄거리</div>
							<div class="description"> 나보기가 역겨워 가실 때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경훈 </div>
						</li>

					</ul>
				</li>	
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						
						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사</span>
						</li>
						<li>
							<div>줄거리</div>
							<div class="description"> 나보기가 역겨워 가실 	때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경훈</div>
						</li>

					</ul>
				</li>	
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						

						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사</span>
						</li>

						<li>
							<div>줄거리</div>
							<div class="description"> 나보기가 역겨워 가실 때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경</div>

						</li>

					</ul>
				</li>	
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						
						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사</span>
						</li>
						<li>
							<div>줄거리</div>
							
							<div class="description"> 나보기가 역겨워 가실 때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경 </div>
						</li>

					</ul>
				</li>	
				<li>
					<div class="dr_imgbox"> <a href=""> <img src="../source/mainImage/snoopy.png"></a></div>
					<ul class="dr_info">						
						<li class="info_l">
							<a class="title">Tommy's Everyday, Everynight</a>
							<span class="head_director">감독 : </span>
							<span class="director">홍길동</span>
							<span class="head_actors">배우 : </span>
							<span class="actors">사오정 저팔계 삼장법사</span>
						</li>
						<li>
							<div>줄거리</div>
							<div class="description"> 나보기가 역겨워 가실 때에는 말없이 그댈 보내 드리오리다 영변에 약산 진달래 꽃 아름따다 가실 길에 뿌리오리다. 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 걸음 가시는 walk 가시는 walk 가시는 민경 </div>
						</li>
					</ul>
				</li>	
			</ul>
			
		</div>

		
	</section>	

</body>
</html>