<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=clevice-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	<title> Pudding Page </title>
	<link rel="stylesheet" type="text/css" href="../css/mainPageStyle.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	

</head>
<body id="wrap">
	
	<section id="pm_section">
		<!-- 모바일용 이미지 -->
		<div class="pm_m_wrap">
			<div>
				  <a href=""> 

				  	<img class= "pm_img1" src="../source/mainImage/big2.png">

				  </a>
			</div>
			<div>
				  <a href=""> 

				  	<img class= "pm_img2" src="../source/mainImage/big2.png">

				  </a>
			</div>
			<div>
				  <a href=""> 

				  	<img class= "pm_img3" src=".../source/mainImage/big2.png">

				  </a>
			</div>
		</div>


		<!-- PC용 이미지 -->
		<div class="pm_p_imgs">
			<div><img class= "pm_img1" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img2" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img3" src="../source/mainImage/snoopy.png"></div>
		</div>


		<div class="pm_btn">
			 
		
			 <a href="">
			 		<span id="prev_btn">
			 			<img src="" alt=""> <
			 		</span>
			 </a> 

			 
			 <a href=""> <div><span id="next_btn"><img src="" alt="">></span></div> </a>
			 
		</div>

		<div class="radio">
			<input type="radio" name="slide" class="slide01" checked>
			<input type="radio" name="slide" class="slide02">
			<input type="radio" name="slide" class="slide03">
		</div>



	</section>
	
	<section id="wb_section">
		
		<div class="sliderHead">
			<span class="SliderTitle">웹툰</span>
			<span class="more"> <a href="temp">더보기</a></span>
		</div>

		<div class="imgs">
			<div class="img1">
				<img src="../source/mainImage/web1.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img2">
				<img src="../source/mainImage/web2.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img3">
				<img src="../source/mainImage/web3.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img4">
				<img src="../source/mainImage/web4.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img5">
				<img src="../source/mainImage/web5.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
		</div>
		
	</section>
	
	<section id="wn_section">
		
		<div class="sliderHead">
			<span class="SliderTitle">웹소설</span>
			<span class="more"> <a href="temp">더보기</a></span>
		</div>
		<div class="imgs">
			<div class="img1">
				<img src="../source/mainImage/web1.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img2">
				<img src="../source/mainImage/web2.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img3">
				<img src="../source/mainImage/web3.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img4">
				<img src="../source/mainImage/web4.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img5">
				<img src="../source/mainImage/web5.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>


	</section>
	
	<section id="dm_section">

		<div class="sliderHead">
			<span class="SliderTitle">드라마</span>
			<span class="more"> <a href="temp">더보기</a></span>
		</div>
		<div class="imgs">
			<div class="img1">
				<img src="../source/mainImage/web1.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img2">
				<img src="../source/mainImage/web2.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img3">
				<img src="../source/mainImage/web3.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img4">
				<img src="../source/mainImage/web4.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>
			<div class="img5">
				<img src="../source/mainImage/web5.png" alt="웹툰 이미지">
				<a href=""> 제목 링크 </a>
			</div>

	</section>


</body>

</html>