/*폰트 스타일 */

span {
	font-size: 0.4rem;
}

ul{
	font-size: 0.8rem;
}

.head_director, .head_actors{
	color: blue;
}



/*영역 스타일 */
#dr_section{
	display: flex;
	flex-direction: column;
	border: solid 1px;
	width: 100%-10px;

}

.dr_List{
	display: flex;
	justify-content: space-between;
	width: 100%-5px;
	height: 100%;
}

.dr_u{
	display: flex;
	flex-direction: column;
	width: 100%;
	list-style-type: none;
	padding: 0 0 0 0px;
}

.dr_u >li{
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: solid 1px;

}

.dr_imgbox{
	width: 100%;
	max-width: 100px;
}

.dr_imgbox > a > img{
	width: 100%;
	min-width: 30px;
}

.dr_info{
	overflow: hidden;
	width: 100%;
	margin: 5px 5px 5px 5px;
}

.dr_info :first-child{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 5px;
}

.info_l > a{
	display: block;
}

.description {
	
	overflow: scroll;
	text-overflow: ellipsis;
	max-height: 40px;
}





