<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> PuddingPage </title>
	<link rel="stylesheet" type="text/css" href="../css/mp_webtoonPageStyle.css">
	<link rel="stylesheet" type="text/css" href="../css/mp_common.css">

</head>


<body id="wrap">

	<section id="pm_section">
		<!-- 모바일용 이미지 -->
		<div class="pm_m_wrap">
			<div>
				  <a href=""> 
				  	<img class= "pm_img1" src="../source/mainImage/big2.png">
				  </a>
			</div>
			<div>
				  <a href="">
				  	<img class= "pm_img2" src="../source/mainImage/big2.png">
				  </a>
			</div>
			<div>
				  <a href="">
				  	<img class= "pm_img3" src="../source/mainImage/big2.png">
				  </a>
			</div>
		</div>


		<!-- PC용 이미지 -->
		<div class="pm_p_imgs">
			<div><img class= "pm_img1" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img2" src="../source/mainImage/snoopy.png"></div>
			<div><img class= "pm_img3" src="../source/mainImage/snoopy.png"></div>
		</div>


		<div class="pm_btn">		
			 <a href=""><div><span id="prev_btn"><img src="" alt=""><</span></div></a> 
			 <a href=""><div><span id="next_btn"><img src="" alt="">></span></div> </a>
		</div>

		<div class="radio">
			<input type="radio" name="slide" class="slide01" checked>
			<input type="radio" name="slide" class="slide02">
			<input type="radio" name="slide" class="slide03">
		</div>

	</section>

	<section id="submenu">
		<div id="box">
			<ul class="ul_sub">
				<!-- <li class="li_sub"><a href="">요일전체</a></li> -->
				<li class="li_sub"><a href="">액션</a></li>
				<li class="li_sub"><a href="">드라마</a></li>
				<li class="li_sub"><a href="">로맨스</a></li>
			</ul>
		<div>
	


		<div class="select_day">
			<ul>
				<li class="daylist"><a href="">전체</a></li>
				<li class="daylist"><a href="">월</a></li>
				<li class="daylist"><a href="">화</a></li>
				<li class="daylist"><a href="">수</a></li>
				<li class="daylist"><a href="">목</a></li>
				<li class="daylist"><a href="">금</a></li>
				<li class="daylist"><a href="">토</a></li>
				<li class="daylist"><a href="">일</a></li>
				</ul>
			</div>
	</section>

	<section id="ct_section">


		<div class="ct_List">
			<ul class="ct_u">
				<li class="ct_img1">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web1.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">엄청 커다란 모기가 나의 발을 물었어 간지러웠어 그래서 참았어 아무 생각없이 나는 발을 긁었어 간지러웠어 그래서 참았어 자려고 누운 방안에 들려오는 왱 소리 엄청 커다란 모기가 나의 발을 물었네 아 너무 간지러 아무 생각없이 나는 발을 긁었어 간지러웠어 그래서 참았어 간지러웠어 그래도 참았어</div>
						</div>
					</div>
				</li>
				<li class="ct_img2">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web2.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">엄청 커다란 모기가 나의 발을 물었어 간지러웠어 그래서 참았어 아무 생각없이 나는 발을 긁었어 간지러웠어 그래서 참았어 자려고 누운 방안에 들려오는 왱 소리 엄청 커다란 모기가 나의 발을 물었네 아 너무 간지러 아무 생각없이 나는 발을 긁었어 간지러웠어 그래서 참았어 간지러웠어 그래도 참았어</div>
						</div>
					</div>
				</li>
				<li class="ct_img3">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web3.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">줄거리 내용</div>
						</div>
					</div>


				</li>
				<li class="ct_img4">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web4.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">줄거리 내용</div>
						</div>
					</div>


				</li>
				<li class="ct_img5">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web5.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">줄거리 내용</div>
						</div>
					</div>
				</li>
				
				<li class="ct_img5">
					<div class="ct_img"><a href=""><img src="../source/mainImage/web5.png"></a></div>
					<div class="ct_info">
						<a href="">Tommy's secret mosquito</a><p>줄거리</p>
						<div class="ct_details">
							<div class="ct_story">줄거리 내용</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	
	</section>	

</body>


</html>