<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>푸딩충전 내역</title>
<link rel="stylesheet" href="../css/mypage_common.css">
<link rel="stylesheet" href="../css/mytable.css"> 
</head>
<body>
    <!-- 헤더 영역-->
    <div id="headers"></div>
    <!-- 사이드 메뉴 영역-->
    <nav>
        <div id="submenu"></div>
    </nav>
    <!-- 본묵 영역-->
    <section>
        <div class="outerBox">
            <h1>푸딩 충전 내역</h1>
            <div id="titleBox">
                <div class="box">날짜</div>
                <div class="box">충전금액</div>
                <div class="box">보유푸딩</div>
            </div>
            
            <div class="wrap">
                <div class="bundle">
                    <div class="box2" >21-04-01</div>
                    <div class="box2" >1000원</div>
                </div>

                <div class="pudding">
                    <div class="box">1000P</div>
                </div>
            </div>

            <!--테스트1-->
            <div class="wrap">
                <div class="bundle">
                    <div class="box2" >21-04-02</div>
                    <div class="box2" >2000원</div>
                </div>

                <div class="pudding">
                    <div class="box">3000P</div>
                </div>
            </div>

        </div>
    </div>
    </section>
    
    <!-- 베너 영역-->
    <div id="banner" class="banner_Box">
        <a href="https://ibb.co/JzcSZMJ"><img src="https://i.ibb.co/rZQX91r/banner.gif" alt="banner" width="250" ></a>
    </div>

    <!-- 푸터 영역-->
    <div id="footers"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/mypage.js"></script>

</body>
</html>