<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/um_detail_product.css"> 
    </head>
    
    <body>
        <!-- 헤더영역 -->

        <!--본문 영역-->
        <section>
            <div class="outerBox">
                <div class="product_box">
                    <div class="info_box">
                        <div class="product_info">
                                <img src="../source/prodect_mainIMG.png">
                                
                                <div class="product_info_title">여우비 내리는 날에</div>
                                <div class="product_info_div">웹툰 , 드라마</div>
                                <div class="product_info_div">
                                    <div>작가&nbsp;&nbsp;:&nbsp;&nbsp;</div>
                                    <div>홍길동</div>
                                </div>
                                <div class="product_like" >
                                    <img id="product_like1" src="../source/like_test1.png">
                                    <img id="product_like2" src="../source/like_test2.png">
                                </div>
                                <div class="product_hashtag">
                                    <div>#힐링물</div>&nbsp;&nbsp;&nbsp;
                                    <div>#달달물</div>&nbsp;&nbsp;&nbsp;
                                    <div>#학원</div>&nbsp;&nbsp;&nbsp;
                                </div>
                                    <div>< 작품소개 ></div><br>
                                    <div class="detail_story">
                                    어린 시절 한새벽 앞에 나타난 윤슬.
                                    그녀는 여우비처럼 예고 없이 나타났다가 예고 없이 떠나버린다.
                                    시간이 흘러 또다시 나타난 윤슬.
                                    그리고 지금은 앞집에 사는 이웃이 되었는데...?!
                                </div>
                                
                        </div>
                    </div>
                     
                    <div class="ep_list">
                        <div class="product_ep">
                        
                                <div class="ep_outBox">
                                    <div class="ep_number">1</div>
                                    <div class="ep_bundle">
                                        <div class="ep_title">미국 시골과 코로나</div>
                                        <div class="ep_date">2021.05.11</div>
                                    </div>
                                    <div class="ep_free">무료</div>
                                </div>
                        </div>


                        <!-- ===============테스트===========-->
                        <div class="product_ep">
                            <div class="ep_outBox">
                                <div class="ep_number">2</div>
                                <div class="ep_bundle">
                                    <div class="ep_title">할인도 받고!굿즈도 받고! 브릴리 </div>
                                    <div class="ep_date">2021.05.08</div>
                                </div>
                                <div class="ep_free"></div>
                            </div>
                        </div>

                        <div class="product_ep">
                            <div class="ep_outBox">
                                <div class="ep_number">3</div>
                                <div class="ep_bundle">
                                    <div class="ep_title">백억년을 자는 남자</div>
                                    <div class="ep_date">2021.05.01</div>
                                </div>
                                <div class="ep_free"></div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                    
                </div>   <!--end product_box--> 
            </div>
    
        </section>
    
        <!--푸터 영역-->

    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/um_detail_product.js"></script>
        <script src="../js/common.js"></script>
    
    </body>
    </html>