<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>보관함</title>
<link rel="stylesheet" href="../css/mypage_common.css">
<link rel="stylesheet" href="../css/mypage.css"> 
</head>
<body>

    <!-- 헤더 영역-->
    <div id="headers"></div>
    <!-- 사이드 메뉴 영역-->
    <nav>
      <div id="submenu"></div>
    </nav>
    <!-- 본묵 영역-->
    <section>

            <div class="outerBox">
                <div class="faq">
                    <img id="faq-img" src="../source/test/faq.png">
                
                    <div class="faq-box">
                      
                      <ul>
                        <li>
                          <div class="faq-box__question"><span>Q. 결제 했는데 푸딩이 충전되지 않습니다. </span></div>
                          <div class="faq-box__answer">
                            <div>결제 후 푸딩이 바로 충전되지 않았을 경우 다시 <span style="color:red;">[결제내역]페이지로 재 이동</span>해주세요</div>
                            <div>시간이 지난 후에도 푸딩이 확인되지 않는다면 아래로 문의해 주세요</div>
                            <div>문의시 회원님의 이메일, 결제일자, 충전금액을 적어 보내주세요</div>
                          </div>
                        </li>
                        <li>
                          <div class="faq-box__question"><span>Q. 구매한 작품이 다시 잠겨있습니다.</span></div>
                          <div class="faq-box__answer">
                            <div>먼저, 구매 내역을 확인하여 구매한 작품이 맞는지 확인해 주시길 부탁드립니다</div>
                            <div>[내 보관함] 확인 후, 구매한 작품이지만 감상이 어려운 경우 작품명 및 회차를 기재하여 문의해주세요.</div>
                          </div>
                        </li>
                        <li>
                          <div class="faq-box__question"><span>Q. 비밀번호를 찾을 수 없어요</span></div>
                          <div class="faq-box__answer">
                            <div>계정 이메일 주소에 오탈자가 있거나 이메일을 탈퇴하여 직접 비밀번호를 찾을수 없는 경우, </div>
                            <div>가입한 이메일주소와 이름, 생년월일을 작성하시여 문의해주세요</div>
                          </div>
                        </li>
                        <li>
                          <div class="faq-box__question"><span>Q. 가입한 이메일 주소를 탈퇴했어요.</span></div>
                          <div class="faq-box__answer">
                          <div>가입한 이메일을 분실하신 경우, 결제 정보를 통해 찾아 드릴 수 있습니다</div>
                          <div>이름, 생년월일, 성별을 작성하시어 문의해주세요</div>
                            
                          </div>
                        </li>
                        <li>
                          <div class="faq-box__question"><span>Q. 웹드라마 화면이 나오지 않아요.</span></div>
                          <div class="faq-box__answer">
                            <div>아래의 사항을 확인 바랍니다</div>
                            <div>1. 전원 코드를 확인한다.</div>
                            <div>2. 인터넷 팝업을 확인한다.</div>
                          </div>
                        </li>
                        <li>
                          <div class="faq-box__question"><span>Q. 환불 하고 싶어요.</span></div>
                          <div class="faq-box__answer">
                            <div>가입하신 이메일주소와 환불 요청 일자, 환불 금액을 적어 이메일 보내주세요.</div>
                          </div>
                        </li>
                        
                      </ul>
                    </div>
                </div>
              </div>
        </div>
    </section>
    <!-- 베너 영역-->
    <div id="banner" class="banner_Box">
      <a href="https://ibb.co/JzcSZMJ"><img src="https://i.ibb.co/rZQX91r/banner.gif" alt="banner" width="250" ></a>
    </div>

    <!-- 푸터 영역-->
    <div id="footers"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/mypage.js"></script>

</body>
</html>