<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>내푸딩</title>
    <link rel="stylesheet" href="../css/mypage_common.css">
    <link rel="stylesheet" href="../css/mytable.css"> 
</head>
<body>

    <!-- 헤더 영역-->
    <div id="headers"></div>
    <!-- 사이드 영역-->
    <nav>
        <div id="submenu"></div>
    </nav>
    <!-- 본묵 영역-->
    <section>
        <div class="outerBox">
            <h1>푸딩 사용 내역</h1>
                <div id="titleBox">
                    <div class="box">날짜</div>
                    <div class="box">분류</div>
                    <div class="box">장르</div>
                    <div class="box">사용작품</div>
                    <div class="box">사용푸딩</div>
                </div>
                
                <div class="wrap">
                    <div class="bundle">
                        <div class="box">21-04-01</div>
                        <div class="box">웹툰</div>
                        <div class="box">로맨스</div>
                        <div class="box">김비서가 왜그럴까?</div>
                    </div>

                    <div class="pudding">
                        <div class="box">200P</div>
                    </div>
                </div>

                <!-- 테스트용 -->
                <div class="wrap">
                    <div class="bundle">
                        <div class="box">21-04-02</div>
                        <div class="box">웹소설</div>
                        <div class="box">무협</div>
                        <div class="box">무협지 : 악녀인데 내가 제일 쎄!</div>
                    </div>

                    <div class="pudding">
                        <div class="box">100P</div>
                    </div>
                </div>

                <!-- 테스트용2 -->
                <div class="wrap">
                    <div class="bundle">
                        <div class="box">21-04-03</div>
                        <div class="box">웹툰</div>
                        <div class="box">로맨스</div>
                        <div class="box">연인으로 할려고 학생회장을 닮은 여자아이를 연성했더니 내가 하인이 되어버렸습니다</div>
                    </div>

                    <div class="pudding">
                        <div class="box">200P</div>
                    </div>
                </div>

            
            </div>
        </div>
    </section>
    <!-- 베너 영역-->
    <div id="banner" class="banner_Box">
        <a href="https://ibb.co/JzcSZMJ"><img src="https://i.ibb.co/rZQX91r/banner.gif" alt="banner" width="250" ></a>
    </div>

    <!-- 푸터 영역 -->
    <div id="footers"></div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/mypage.js"></script>


</body>
</html>