<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mypage_common.css">
    <link rel="stylesheet" href="../css/mypage2.css"> 
</head>

<body>
    <!-- 헤더영역-->
    <div id="headers"></div>
    <!-- 사이드 메뉴-->
    <nav>
        <div id="submenu"></div>
    </nav>
    <!-- 본묵 영역-->
    <section>
        <div class="outerBox">
            <section name="f">
                <div class="change-password" style="width: 400px;">
                    <div class="change-password__items" style="max-width: 250px;">
                        <label>이름</label>
                        <input type="text" id="user_name" disabled />
                    </div>
                    <div class="change-password__items" style="max-width: 250px;">
                        <label>생년월일</label>
                        <div class="change-password__item--row" style="justify-content: space-between;">
                            <span>
                                <select id="user_birth_year" style="min-width: 60px; margin-right: 2px" disabled></select>년
                            </span>
                            <span>
                                <select id="user_birth_month" style="min-width: 60px; margin-right: 2px" disabled></select>월
                            </span>
                            <span>
                                <select id="user_birth_day" style="min-width: 60px; margin-right: 2px" disabled></select>일
                            </span>
                        </div>
                    </div>
                    <div class="change-password__items" style="max-width: 250px;">
                        <label>연락처</label>
                        <div class="change-password__item--row" style="justify-content: space-between">
                            <select id="user_phone_number_pre" style="min-width: 60px;" disabled>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                            </select>
                            -
                            <input id="user_phone_number_in" style="max-width: 60px" disabled>
                            -
                            <input id="user_phone_number_post" style="max-width: 60px" disabled>
                        </div>
                    </div>
                    <div class="change-password__items" style="max-width: 250px;">
                        <label>비밀번호 수정</label>
                        <input id="user_change_password" type="password" style="margin-bottom: 10px" maxlength="15"
                            placeholder="새로운 비밀번호 입력">
                        <input id="user_check_password" type="password" maxlength="15" placeholder="비밀번호 확인">
                    </div>
                    <div class="change-password__items">
                        <label>이메일</label>
                        <div class="change-password__item--row" style="justify-content: space-between; max-width: 350px">
                            <div class="change-password__item">
                                <input id="user_email_pre" type="text" style="width: 120px" disabled /> @ <input
                                    id="user_email_post" type="text" style="width: 100px" disabled />
                            </div>
                            <!-- <select id="user_email_domain">
                                <option >선택하세요</option>
                                <option value="naver.com">naver.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="hanmail.com">hanmail.com</option>
                                <option value="self">직접입력</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="change-password__items">
                        <label>성별</label>
                        <div class="change-password__item--row">
                            <input type="radio" name="gender" value="남" onclick="return(false);">남자
                            <input type="radio" name="gender" value="여" onclick="return(false);">여자
                        </div>
                    </div>
                    <div class="change-password__items">
                        <button onclick="submit()">완료</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 푸터 영역-->
        <div id="footers"></div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/mypage.js"></script>
</body>

</html>