<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mypage_common.css">
    <link rel="stylesheet" href="../css/mypage2.css"> 
</head>

<body>
    <!-- 헤더영역 -->
    <div id="headers"></div>
    <!-- 사이드메뉴 영역-->
    <nav>
        <div id="submenu"></div>
    </nav>
    <!--본문 영역-->
    <section >
        <div class="outerBox">
            <section class="password_layout">
                <div class="password_form">
                    <h2 class="password_form__title">내 정보 보기</h2>
                    <span class="password_form__description">현재 사용하고 있는 비밀번호를 입력하세요.</span>
                    <input id="password" class="password" type="password" maxlength="15" placeholder="비밀번호 입력">
                    <button class="password_form__button" onclick="check()">완료</button>
                </div>
            </section>
        </div>
    </section>

    <!--푸터 영역-->
    <div id="footers"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/mypage.js"></script>

</body>
</html>