<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../css/um_product_common.css"> 
<link rel="stylesheet" href="../css/um_productviewer.css"> 
</head>
<body>

    <!-- 헤더 영역 -->
    <div id="headers"></div>


    <!-- 본문 부분-->

    <section>
        <div class="outerBox">
            <div class="viewer">
                <img src="../source/test/webtoon1.png">
                <img src="../source/test/webtoon2.png">
                <img src="../source/test/webtoon3.png">
                <img src="../source/test/webtoon4.png">
            </div>
        </div>
    </section>

    </div>
   


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</body>
</html>